<form action="{{ url('content') }}">
  <input type="text" name="search" class="w-3/4 md:w-4/6 lg:w-2/3 text-sm md:text-base border border-white outline-none text-black py-1 px-2" placeholder="Quick Search">
  <button type="submit" class="bg-blue-600 bg-opacity-50 text-sm md:text-base text-white border border-blue-500 py-0.5 md:py-1 px-2 hover:bg-opacity-100">Search</button>
</form>