{% extends '_layouts/base' %}


{% set cat = craft.app.request.queryParam('category') ?? '' %}
{% set search = craft.app.request.queryParam('search') ?? '' %}
{% set category = null %}

{% if cat is not empty %}
  {% set category = craft.categories
    .slug(cat)
    .one()
  %}
{% endif %}

{% set postQuery = craft.entries
  .section('contentPosts')
  .with(['coverImage'])
  .relatedTo(category)
  .search(search)
  .limit(3)
%}

{% block content %}

  <div class="bg-gray-700 pb-2 px-2 md:px-4 lg:px-6 pt-16 md:pt-24 lg:pt-28 text-gray-300 text-sm md:text-base lg:text-lg">
    {% if search is not empty or category is not empty %}

      Searching for Title

      {% if search is not empty %}
        {{ '"' ~ search ~ '"' }}
      {% endif %}

      {% if category is not empty %}
        {{ 'with ' ~ category ~ ' genres' }}
      {% endif %}

      <div class="block">Result: {{ postQuery|length }} title found</div>
      
    {% endif %}
  </div>

  {% paginate postQuery as posts %}

  {% if postQuery|length and not (craft.app.request.queryParam('page') > paginate.totalPages) %}

    <div class="flex justify-center mx-auto">
      <div class="grid md:grid-cols-3 gap-x-12 gap-y-12 justify-between mx-4">
        {% for item in posts %}
          {%
            include "_includes/cover" with{
              'content': item,
              'margin': 'm-auto',
            }
          %}
        {% endfor %}
      </div>
    </div>

    <div class="mt-6 text-center space-x-2">
      {% include "_includes/pagination" %}
    </div>

  {% elseif postQuery|length == 0 %}

    {% include '_includes/minicard' with{'message': "Sorry, but There's are no titles match with your search"} %}

  {% else %}

    {% include '_includes/minicard' with{'message': "It's look like something went wrong"} %}

  {% endif %}


{% endblock %}