{% extends '_layouts/base' %}


{% set cat = craft.app.request.queryParam('category') ?? '' %}
{% set search = craft.app.request.queryParam('search') ?? '' %}
{% set category = null %}

{% if cat is not empty %}
  {% set category = craft.categories
    .slug(cat)
    .one()
  %}
{% endif %}

{% set postQuery = craft.entries
  .section('contentPosts')
  .relatedTo(category)
  .search(search)
  .limit(3)
%}

{% block content %}

  <div class="bg-gray-700 pb-4 px-2 md:px-4 lg:px-6 pt-20">
    {% include "_includes/search-bar" %}
    {% if search is not empty %}
      <div class="text-gray-300 my-2 text-sm md:text-base lg:text-lg">
        Search result for: {{ '"' ~ search ~ '"' }}
      </div>
    {% endif %}
  </div>

  {% if postQuery|length %}

    {% paginate postQuery as posts %}
    <div class="flex justify-center mx-auto">
      <div class="grid md:grid-cols-3 gap-x-12 gap-y-12 justify-between mx-4">
        {% for item in posts %}
          {%
            include "_includes/cover" with{
              'content': item,
              'margin': 'm-auto',
            }
          %}
        {% endfor %}
      </div>
    </div>

    <div class="mt-6 text-center space-x-2">
      {% include "_includes/pagination" %}
    </div>
  

  {% else %}

    <div class="pt-20 pb-16 md:pb-20 lg:pb-32 mx-2 md:mx-20 lg:mx-60">
      <div class="bg-gray-200 text-lg md:text-xl lg:text-2xl py-6 px-2 shadow-md text-center">
        Sorry, but There's are no titles match with your search >_<
      </div>
    </div>
    
  {% endif %}


{% endblock %}