{% extends '_layouts/base' %}

{% block content %}

  {% set allGenres = craft.categories.group('genre').all() %}

  <div class="mx-4 md:mx-16 lg:mx-40 pt-20">
    <h1 class="text-xl md:text-2xl lg:text-3xl my-4">List of all Genres</h1>
    <div class="grid grid-cols-2">
      {% for item in allGenres %}
        <a class="text-base md:text-lg lg:text-xl my-0.5 text-blue-900 hover:text-blue-300" href="{{item.url}}">{{ item.title }}</a>
      {% endfor %}
    </div>
  </div>

{% endblock %}