<div class="mx-2 {{ contentBlock.tailwindClass|default('') }}">
  <h1 class="lg:mx-5 text-2xl md:text-3xl lg:text-4xl font-bold">{{ contentBlock.header }}</h1>
  <div class="grid {{ posts|length is odd ? 'grid-cols-3 gap-x-0' : 'grid-cols-2 lg:grid-cols-4 gap-x-8' }} m-1 sm:mx-20 lg:gap-x-0 lg:mx-auto">
    {% for item in posts %}
      {%
        include "_includes/cover" with{
          'content': item,
          'margin': 'mx-auto',
        }
      %}
    {% endfor %}        
  </div>
</div>