{% set base = currentSite.baseUrl ~ 'content?category=' %}
{%
  set topCat = [
    {'genre': 'action', 'link': base ~ 'action'},
    {'genre': 'comedy', 'link': base ~ 'comedy'},
    {'genre': 'fantasy', 'link': base ~ 'fantasy'},
    {'genre': 'adventure', 'link': base ~ 'adventure'},
    {'genre': 'sci-fi', 'link': base ~ 'sci-fi'},
  ]
%}

<div class="w-full mt-16 md:mt-28 lg:mt-40">
  <div class="bg-gray-700 border-t border-gray-800 text-white py-4 px-4 md:px-16 lg:px-40 text-xs md:text-sm lg:text-base">
    <div class="text-sm md:text-base lg:text-lg border-b border-white whitespace-nowrap w-min mb-2">Top Genre's:</div>
    <div class="grid grid-cols-2">
      {% for item in topCat %}
        <a class="ml-2 w-min whitespace-nowrap capitalize hover:text-blue-500" href="{{item.link}}">{{ item.genre }}</a>
      {% endfor %}
    </div>
  </div>
  <div class="bg-gray-800 border-t border-gray-600 text-gray-400 pt-2 pb-6 px-2 md:px-12 lg:px-32 text-xs md:text-sm lg:text-base">
    <i>Sincerely with Hope, Love, Faith, and Luck</i>
    <div class="ml-4">
        <p>Copyright &#xa9; 2021</p>
        <p>Website Design & Development by Ivan Nircahya</p>
    </div>
  </div>
</div>