{% extends '_layouts/base' %}

{% block content %}
  <div class="text-black pt-16 md:pt-20 lg:pt-24 md:mx-16 lg:mx-60">
    <h1 class="border-b border-black inline-block text-xl md:text-2xl lg:text-3xl px-1 mb-4 ml-4">{{ entry.mainHeader }}</h1>
    <div class="bg-gray-100 shadow-md py-4 px-8 text-sm md:text-md lg:text-lg" style="text-indent: 20px;">{{ entry.paragraph }}</div>
  </div>
{% endblock %}