{% extends '_layouts/base' %}

{#
see : https://nystudio107.com/blog/speed-up-your-craft-cms-templates-with-eager-loading
{% do craft.app.elements.eagerLoadElements(
  className(entry),
  [entry],
  ['homePosts']
) %}
#}

{% block content %}

  <div style="background-image: url( '{{ entry.bannerImage.one().url ?? null }}' ); background-position: center; background-repeat: no-repeat; background-size: cover;" class="text-center">
    <div style="background-color: rgba(0, 0, 0, 0.7)" class="text-white pt-16 md:pt-20 lg:pt-24">
      <div class="my-4 mx-2 md:mx-10 lg:mx-20">
        {% include "_includes/search-bar" %}
      </div>
      <div class="bg-black bg-opacity-40 border-gray-500 border-t md:border-r md:border-l p-6 mt-10 md:mx-20 md:mt-16 lg:mx-32 lg:mt-28 xl:mx-60">
        <div class="mt-4 md:mt-6 lg:mt-10 font-bold text-2xl md:text-3xl lg:text-5xl">{{ entry.mainHeader }}</div>
        <div class="mt-2 md:mt-4 lg:mt-6 mb-4 md:mb-6 lg:mb-10 text-md md:text-lg lg:text-xl">{{ entry.paragraph }}</div>
      </div>
    </div>
  </div>

  <div class="bg-black bg-opacity-20 space-y-12 py-6 text-center border-gray-500 border-b md:border-r md:border-l md:mx-20 lg:mx-32 xl:mx-60">
    {% for contentBlock in entry.homePosts.all() %}


      {% if contentBlock.type == "featuredPost" %}
        {%
          include "_includes/home-blocks/basic" with{
            'posts': contentBlock.contentPost.with(['coverImage']).all()
          }
        %}
      {% endif %}


      {% if contentBlock.type == "paragraph" %}
        {% include '_includes/home-blocks/paragraph' %}
      {% endif %}


      {% if contentBlock.type == "recentPost" %}
        {%
          include '_includes/home-blocks/basic' with{
            'posts': craft.entries.section('contentPosts')
                      .with(['coverImage'])
                      .limit(contentBlock.postLimit)
                      .all()
          }
        %}
      {% endif %}


      {% if contentBlock.type == "mostViewedPost" %}
        {%
          include '_includes/home-blocks/basic' with{
                    'posts': craft.entryCount.entries
                    .with(['coverImage'])
                    .limit(contentBlock.postLimit)
                    .all()
          }
        %}
      {% endif %}


      {% if contentBlock.type == "card" %}
        {%
          include '_includes/home-blocks/card' with{
            'items': contentBlock.contentPost.with(['coverImage']).all()
          }
        %}
      {% endif %}


    {% endfor %}
    <div class="mt-10 mb-4 text-center">
      <a href="{{ currentSite.baseUrl~'content' }}" class="bg-gray-700 px-8 py-1 rounded-md text-white text-lg md:text-xl lg:text-2xl hover:bg-gray-200 hover:text-black">Browse More</a>
    </div>
  </div>

{% endblock %}