<form action="{{ url('content') }}">
  <input type="text" name="search" class="w-3/4 lg:w-1/2 text-sm md:text-base border border-white outline-none text-black py-1 px-2" placeholder="Search some Comic/Manga title">
  <button type="submit" class="bg-blue-600 bg-opacity-50 text-white border border-blue-500 py-0.5 md:py-1 px-2 hover:bg-opacity-100">Search</button>
</form>